.navWrapper {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100px;
	background-color: white;
}

.logo {
	margin-left: 1em;
}

.logoText {
	margin-left: 0.5em;
	color: #3d5af1;
	font-weight: bold;
}
