.container {
	display: grid;
	grid-template-columns: repeat( 3, 1fr );
	grid-gap: 15px;
	background-color: #F8F8F8;
}

.cellItem {
	grid-column: span 3;
}

@media screen and (min-width: 960px) {
	.cellItem:nth-child(2) {
		grid-column: span 2;
	}

	.cellItem:nth-child(3) {
		grid-column: span 1;
	}
}
