.postWrapper {
	margin-bottom: 2em;
	border: 2px solid magenta;
	border-radius: 5px;
	box-shadow: 1px 8px 10px LightGrey;
	background-color: white;
	padding: 1em;
}

.postWrapper:hover {
	box-shadow: 1px 8px 20px LightGrey;
}

.postTopic {
	margin-bottom: 2em;
	font-weight: bold;
}

.footer_sep {
	width: 100%;
	color: grey;
	margin-bottom: 0;
}

.postFooter {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	border: 2px solid green;
}

.commentBoxBtn {
	display: flex;
	justify-content: center;
	border: 2px solid green;
}

.commentBox {
	width: 100%;
}
