.postContainer {
	display: flex;
	margin-bottom: 2em;
	border-radius: 5px;
	box-shadow: 1px 8px 10px LightGrey;
	background-color: white;
	padding: 1em;
	transition: box-shadow .1s ease-in;
}

.postContainer:hover {
	box-shadow: 1px 8px 20px LightGrey;
}

.postWrapper {
	width: 100%;
	margin: 0 1em;
}

.postTopic {
	margin-bottom: 2em;
	font-weight: bold;
}

.postImgWrapper {
	display: flex;
	justify-content: center;
}

.footer_sep {
	width: 100%;
	color: grey;
	margin-top: 1em;
	margin-bottom: 0;
}

.postFooter {
	display: flex;
	width: 100%;
	justify-content: space-between;
	font-size: 14px;
}

.commentBtnContainer {
	display: flex;
	justify-content: center;
}

.commentBoxBtn {
	align-self: center;
	width: 30px;
	height: 24px;
}

.commentBox {
	width: 100%;
}
