.icon_button {
	display: flex;
	align-items: center;
	background-color: white;
	border: none;
}

.icon_button:hover {
	background-color: rgba(0,0,0,0.06);
}

.icon_svg {
	stroke: currentColor;
	fill: currentColor;
	stroke-width: 0;
	version: 1.2;
	baseProfile: tiny;
	viewBox: 0 0 24 24;
	width: 1em;
	height: 1em;
	font-size: 1.5rem;
}
