.sectionWrapper {
	display: flex;
	flex-direction: column;
	background-color: white;

}

.listTitle {
	align-self: flex-start;
	margin: 1em;
	font-size: 22px;
	font-weight: bold;
}

.listContainer {
	list-style-type: none;
}

.topicItem {
	display: inline-flex;
	width: 100%;
	margin: 0;
	padding: 1em;
}

.topicItem:hover {
	background-color: WhiteSmoke;
}
