.votes_counter_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 3px;
}

.votes_counter_btn {
	border-radius: 8px;
}

.vote_cnt {
	margin-bottom: 0;
}

.up_vote:hover {
	color: green;
	align-self: center;
}

.dw_vote:hover {
	color: red;
}
